<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/74a98ec54f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital,wght@0,900;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Listy</title>
</head>
<body>
    <div class="main-container">
        <div class="text">
            <h1 class="main-logo-font">Listy</h1>
            <h3 class="main-header">Create A Todo List Below</h3>
        </div>
        
        <a href="/todos" class="add fa-solid fa-circle-plus fa-2xl"></a>

    </div>
    <!-- <a href="/todos"> New Todo List</a> -->

</body>
</html>